<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.cabway"
    tools:ignore="GoogleAppIndexingWarning">
    <!-- TODO: add intent view action or enable deep link. remove ignore and solve the warning -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher_cabway"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round_cabway"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/AppTheme"
        android:resizeableActivity="false"
        tools:targetApi="n">
        <activity
            android:name=".ui.activities.SplashScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activities.MainActivity" />
        <activity android:name=".ui.activities.BaseActivity" />
        <activity
            android:name=".ui.activities.LoginActivity"
            android:label="@string/login"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.activities.ForgotPasswordActivity"
            android:label="@string/forgot_password"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.activities.RegistrationActivity"
            android:label="@string/registration"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.activities.DashBoardActivity"
            android:label="@string/title_activity_dash_board"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.activities.DocumentListActivity"
            android:label="@string/upload_documents"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.activities.IdRegistrationActivity"
            android:label="@string/driver_license"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.activities.VehicleRegistrationActivity"
            android:label="@string/vehicle_registration"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.activities.ShopRegistrationActivity"
            android:label="@string/shop_act_registration"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.activities.HelpActivity"
            android:label="@string/help_activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.activities.DriverRideDetailPage"
            android:label="@string/ride_details"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.activities.HistoryListActivity"
            android:label="@string/rides_history"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.activities.AboutUs"
            android:label="@string/about_us"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.activities.BookRideActivity"
            android:label="@string/book_ride"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"/>
    </application>

</manifest>